

body {
    margin: 0;
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}


/* header */

header {
    display: flex;
    justify-content: space-between;
   background-color: white;
  
}
.flexLogo {
  display: flex;
}
.divLogoCPGD {
    text-align: center;
    font-size: 14px;
margin-left: 40px;
margin-top: 20px;
}
.divLogoCPGD p {
  margin: 0;
}
.logoCPGD {
  margin-top: 10px;
  height: 75px;
  margin-right: 150px;
}

.logoCPGDNET{
  margin-right: 60px;
margin-top: 40px;
}

.blocContact {
    margin-top: 20px;
 margin-right: 100px;
}

.contactInfo a {
  text-decoration: none;
  color: black;
  font-weight: normal;
}

.contactInfo {
  color: #a87a55;
  margin-bottom: 10px;
  font-weight: bold;
}

.flexContact {
  display: flex;
}
header strong {
  color :#a87a55;
  font-size: 16px;

}

i {
  color :#a87a55
}

/* main */ 
main {
  padding: 0;
  margin: 0;
  background-image: url("../assets/FlecheMenu3.webp");
  background-repeat: no-repeat;
  background-size: cover;
 padding-bottom: 20px;
  
}

.flexLinks {
  /* margin-top: 20px; */
  display: flex;
  justify-content: space-around;
  /* margin-bottom: 20px; */
}

.blocLinks {
  margin-top: 40px;
  background-color: white;
  border: 2px solid #10509a;
  width: 500px;
  height: 150px;
  border-radius: 20px;
  box-shadow: 6px 6px 6px #a87a55;
   transition: transform 0.3s ease; /* Animation douce */
   text-align: center;
}

.blocLinks:hover {
  transform: scale(1.05);
}

.blocLinks strong {
 color: white;
  margin-bottom: 10px;
  display: inline-block;
    width: 100%;
  background-color: #a87a55;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  margin-top: 0px;
 padding-top: 5px;
 padding-bottom: 5px;
}

.blocLinks p {
  /* padding-top: 10px; */
  text-align: justify;
  padding-left: 20px;
  cursor: pointer;
}

.blocLinks p:hover {
 color:#10509a;
 font-weight: bold;
}

a {
 text-decoration: none;
 color: black;
}